
body {
    background-image: url('../images/pumpkin-23439_640.png');
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 45% 50%;
}


.bold {
    font-weight: bold;
}

.ui-checkboxradio-label {
  width: 50%;
}

.ui-checkboxradio-label {
  background-color: rgb(155, 88, 25);
  color: rgb(255, 198, 112);
}

.ui-checkboxradio-checked {
  background-color: rgb(255, 123, 0);
}

#header {
  text-align: center;
  color: rgb(100, 35, 35);
  background-color: orange;
  padding-top: 2%;
  margin-bottom: 1%;
  font-family: 'Nosifer', cursive;
}

#header .row h1, #banner .row h2 {
    font-size: 2em !important;
}

#banner {
    text-align: center;
    margin-bottom: 5%;
    font-family: 'Nosifer', cursive;
}

.dropdown {
    text-align:center;
    color: white;
}

.productDescription {
    margin-left: 15%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    border: 5px solid orange;
    opacity: 0.7;
    visibility: hidden;
}
.pumpkinImage {
    margin-bottom: 10%;
}

footer {
    background-color: black;
    width:100%;
    padding-bottom: 2%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    overflow:hidden;
}

footer p {
    margin-bottom: 0;
}

#selectList {
  width: 100%;
  height: 50px;
  font-size: 1.35em;
  background-color: rgb(212, 104, 2);
  color: rgb(26, 25, 24);
  border-radius: 7px;
  visibility: hidden;
}

body {
  background-color: rgb(46, 41, 39);
  color: rgb(212, 104, 2);
}

fieldset {
  text-align: center;
  display: inline;
}

.productImage p {
  width: 100%;
  min-width: 660px;
  min-height: 445px;
  
}

img {
  width: 100%;
  border: 5px solid orange;
}
